@import "./../util";

.login-wrap {
  @include flex;

  .login-inner {
    width: 400px;
    padding: 50px 40px;
    box-sizing: border-box;
    border-radius: 3px;

    h2 {
      font-size: 2rem;
    }

    .logo {
      img {
        height: 32px;
      }
      padding-bottom: 20px;
    }

    form {
      .field {
        margin-bottom: 15px;

        input {
          @include form_input;
        }

        em {
          display: none;
        }

        &.wngField {
          @include wngField;
        }

        &.allWng {
          input {
            border-color: $red-color;
            background: rgba($red-color, 0.03);
          }

          .wngTxt {
            font-style: normal;
            font-size: 0.875rem;
            margin-top: 5px;
            display: block;
            color: $red-color;
          }
        }
      }

      .login-action {
        @include flex($just: space-between);

        label {
          @include checkbox;
        }

        .find {
          color: $sub-font-color;
          font-size: 0.832rem;
        }
      }

      .login-btn {
        width: 100%;
        height: 48px;
        margin-top: 50px;
        background: $font-color;
        color: #fff;
        // font-weight: 600;
        font-size: 1.062rem;
        border-radius: 3px;
        letter-spacing: 1px;
      }
    }

    .sign-up-wrap {
      font-size: 0.832rem;
      margin-top: 30px;
      text-align: center;

      a {
        margin-left: 8px;
        display: inline-block;
        text-decoration: underline;
        color: $main-color;
      }
    }
  }

  @media screen and (max-width: 400px) {
    // @include flex($align: flex-start);

    .login-inner {
      padding: 0 40px;
      border: none;
      height: 60vh;
    }
  }
} // login wrap End
