@import "./../util";

.store-wrap {
  @include main-wrap;
}

// store 내부 공통
.timer {
  @include flex($just: flex-start);
  margin-top: 15px;

  label {
    color: $sub-font-color;
    font-weight: 500;
    font-size: 0.875rem;
    margin-right: 20px;
  }

  .select-wrap {
    @include select-wrap;
    margin-right: 10px;
    flex: 1;

    &.mr0 {
      margin-right: 0;
    }
  }
}
.all-day {
  font-size: 0.875rem;
  color: $sub-font-color;
  margin-top: 15px;
}

// 영업임시중지
.temporary-wrap {
  .title {
    padding-bottom: 0;
  }
  .explanation {
    color: $sub-font-color;
    margin-top: 15px;
    li {
      line-height: 1.5;
    }
  }

  .form-wrap {
    width: 400px;
    margin-top: 20px;

    .field {
      position: relative;
      margin-bottom: 40px;

      label {
        display: block;
        font-size: 1.062rem;
      }

      input {
        margin-top: 15px;
        @include form_input;
      }
    }

    .submit-btn {
      @include submitBtn;
    }
  }

  .temporary-box {
    margin-top: 30px;
    width: 400px;

    .tit {
      @include flex($just: space-between);
      font-size: 0.937rem;
      color: $sub-font-color;

      .cor-btn {
        background: transparent;
        color: $main-color;
        font-size: 0.832rem;
        text-decoration: underline;
      }
    }

    .temp-info {
      font-size: 0.937rem;
      font-weight: 600;
      padding-top: 20px;

      .cont {
        font-weight: 400;
        padding-top: 10px;
        color: $sub-font-color;
        font-family: NotoSansKR, sans-serif;
      }
    }

    .clear-btn {
      @include submitBtn;
      margin-top: 40px;
      // width: 320px;
    }
  }
  @media screen and (max-width: 768px) {
    .form-wrap {
      width: 100%;

      .submit-btn {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 70px;
        font-size: 1.125rem;
        border-radius: 0;
      }
    }
    .temporary-box {
      width: 100%;
      .clear-btn {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 70px;
        font-size: 1.125rem;
        border-radius: 0;
      }
    }
  }
}

// 가게정보
.store-info-wrap {
  .info-tab {
    @include flex($just: flex-start);
    border-bottom: 1px solid $border-color;

    li {
      padding: 5px 10px 0;
      margin-right: 10px;
      margin-left: 8px;

      a {
        font-size: 1rem;
        color: $sub-font-color;
        display: block;
        padding-bottom: 10px;
        letter-spacing: 0.5px;
        background-color: transparent;
      }

      &.active {
        a {
          border-bottom: 2px solid $font-color;
          color: $font-color;
          font-weight: 600;
        }
      }
    }
  }

  .tab-info {
    padding-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .info-tab {
      position: relative;
      border-bottom: none;

      &::before {
        content: "";
        width: 100vw;
        height: 1px;
        background-color: $border-color;
        position: absolute;
        left: -20px;
        bottom: 0;
      }
    }
  }
}

// 가게정보 (기본정보)
.tab-info {
  @include flex($just: space-between, $align: flex-start);
  .container {
    width: 400px;

    .field {
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;
      padding-bottom: 20px;
      .title {
        @include flex($just: space-between);
        font-size: 1.062rem;
        margin-bottom: 15px;

        button {
          // background-color: transparent;
          // border-radius: 15px;
          // padding: 4px 15px;
          // font-size: 0.812rem;
          // border: 1px solid $main-color;
          // color: $main-color;
          padding: 8px 20px;
          letter-spacing: 1px;

          &.cor-btn {
            display: flex;
            color: $main-color;
            background-color: transparent;
            font-size: 0.812rem;
            font-weight: 600;

            i {
              margin-right: 2px;
            }
          }

          &.save-btn {
            background-color: $main-color;
            color: #fff;
            border-radius: 3px;
            font-weight: 600;
          }
        }
      }

      .save {
        font-family: NotoSansKR, sans-serif;
        font-size: 1rem;
        line-height: 1.4;

        &.save-thumb {
          width: 64px;
          height: 64px;
          overflow: hidden;
          border-radius: 50%;
          border: 1px solid $border-color;
        }

        .not-set {
          color: $sub-font-color;
        }

        .tit {
          display: block;
          font-size: 0.937rem;
          color: $font-color;
          font-weight: 600;
          line-height: 1.8;
          margin-top: 15px;
        }
      }

      .cor-info {
        .save-btn {
          background: $main-color;
          color: #fff;
          border-radius: 2px;
          padding: 10px 40px;
          transition: 0.25s ease;
          font-weight: 500;
          letter-spacing: 1px;
          font-size: 0.937rem;
          margin-top: 10px;
          display: block;

          &:hover {
            background: $dark-main-color;
          }
        }

        .cor-thumb {
          @include flex($just: flex-start);
          .upload-file {
            .thumb {
              width: 100px;
              height: 100px;
              overflow: hidden;
              border-radius: 50%;
              border: 1px solid $border-color;
              margin-bottom: 10px;
              cursor: pointer;
            }

            input {
              display: none;
            }
          }
          .cor-thumb-btn {
            margin-left: 20px;
            .upload-file-btn {
              background-color: transparent;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 3px;
              display: block;
              height: 30px;
              padding: 0 30px;
              margin-bottom: 8px;
              color: $sub-font-color;
              font-size: 0.937rem;
              letter-spacing: 1px;
            }

            span {
              color: $sub-font-color;
              font-size: 0.812rem;
              text-transform: uppercase;
            }
          }
        }

        .cor-txt-input {
          @include form_input;
        }

        .cor-tel-wrap {
          position: relative;
          &::before {
            content: "";
            width: 6px;
            height: 1px;
            background-color: $sub-font-color;
            position: absolute;
            left: 128px;
            top: 50%;
            transform: translateY(-50%);
          }

          &::after {
            content: "";
            width: 6px;
            height: 1px;
            background-color: $sub-font-color;
            position: absolute;
            right: 128px;
            top: 50%;
            transform: translateY(-50%);
          }

          input {
            @include form_input;
            width: calc((100% - 40px) / 3);
            margin-right: 20px;

            &[name="last-tel-number"] {
              margin-right: 0;
            }
          }
        }

        &.cor-intro-wrap {
          .cor-intro-txt {
            position: relative;
            height: 100%;

            textarea {
              @include form_input;
              height: 100px;
              padding: 10px;
            }

            .check-intro-num {
              position: absolute;
              right: 10px;
              bottom: 10px;
              color: rgba(0, 0, 0, 0.3);
            }
          }
        }

        .sub-tit {
          font-weight: 600;
        }

        .flex-between {
          @include flex($just: space-between);
        }

        .on-off {
          @include flex($just: flex-start);
          font-weight: 400;

          input[type="checkbox"] {
            display: none;
            &:checked + label {
              background-color: $main-color;

              span {
                transform: translateX(15px);
                box-shadow: -4px 0px 4px $dark-main-color;
              }
            }
          }

          label {
            margin-left: 8px;
            height: 20px;
            width: 35px;
            border-radius: 15px;
            padding: 2px;
            background-color: #797e8b;
            transition: 0.2s ease;
            display: inline-block;

            span {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #fff;
              display: inline-block;
              transition: 0.25s ease;
              box-shadow: 4px 1px 4px rgba(92, 96, 107, 0.7);
            }
          }
        }

        .plus-btn {
          @include flex($just: flex-start);
          background-color: transparent;
          color: $main-color;
          font-weight: 600;
          margin-top: 15px;
          font-size: 0.937rem;

          svg {
            height: 10px;
            fill: $main-color;
            margin-right: 3px;
          }
        }
      }
    }
  }

  .explanation-box {
    width: 400px;
    padding: 20px;
    background-color: $bg-color;
    box-sizing: border-box;

    h3 {
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: 10px;
      line-height: 1.3;
    }
    span {
      font-size: 0.875rem;
      color: $sub-font-color;
      line-height: 1.4;
    }
    @media screen and (max-width: 1200px) {
      width: calc(100% - 430px);
    }
  }
  @media screen and (max-width: 1200px) {
    .container {
      width: 400px;
    }
  }

  @media screen and (max-width: 768px) {
    display: block;

    .container {
      width: 100%;
      .field {
        .cor-info {
          .cor-tel-wrap {
            &::before {
              left: 32%;
            }
            &::after {
              right: 32%;
            }
          }
        }
      }
    }

    .explanation-box {
      width: 100%;
    }
  }
  @media screen and (max-width: 400px) {
    .container {
      width: 100%;
      .field {
        .cor-info {
          .cor-tel-wrap {
            &::before {
              left: 31%;
            }
            &::after {
              right: 31%;
            }
          }
        }
      }
    }
  }
}

// 가게정보 (영업정보)
.store-wrap {
  .cor-info {
    .week-check {
      @include flex($just: flex-start);
      border: 1px solid #dde2e6;
      position: relative;
      border-radius: 3px;

      &::before {
        content: "";
        width: 1px;
        height: 100%;
        background: #dde2e6;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }

      input[type="radio"] {
        display: none;

        &:checked + label {
          background-color: #f2f4f6;
          font-weight: 600;
        }
      }

      label {
        display: block;
        width: 50%;
        cursor: pointer;
        text-align: center;
        height: 48px;
        line-height: 48px;
      }
    }

    .week {
      margin-top: 15px;
    }

    .set-form-wrap {
      margin-bottom: 30px;
      .sub-tit {
        border-bottom: 1px solid $border-color;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      .explan {
        padding: 15px 10px;
        background-color: $bg-color;
        margin-top: 10px;
        color: $sub-font-color;
        font-size: 0.832rem;
      }

      .setting-reaular {
        @include flex($just: flex-start);

        .select-wrap {
          @include select-wrap;
          margin-right: 10px;
          flex: 1;
          border-radius: 3px;
          overflow: hidden;

          &.mr0 {
            margin-right: 0;
          }
        }

        .delte-btn {
          border: 1px solid $red-color;
          color: $red-color;
          border-radius: 3px;
          background: transparent;
          height: 48px;
          padding: 0 15px;
        }
      }

      .temp-form {
        @include flex($just: space-between);
        color: $sub-font-color;
        input {
          @include form_input;
          width: 45%;
        }
      }
    }
  }
}

// 가게정보 (수거 및 배달정보)
.delivery-wrap {
  .cor-info {
    .radio-wrap {
      @include radio;
    }

    .set-form {
      @include flex($just: space-between);

      input {
        @include form_input;
        font-weight: 400;

        &.area {
          width: calc((100% - 75px) / 2);
        }
      }

      .price {
        // @include form_input;
        @include flex();
        padding: 0;
        position: relative;
        width: calc((100% - 75px) / 2);

        input {
          padding-right: 45px;
        }

        .kr {
          position: absolute;
          right: 0;
          top: 0px;
          padding: 0 15px;
          height: 48px;
          line-height: 48px;
          font-size: 1.062rem;
        }
      }

      .delete-btn {
        border: 1px solid $red-color;
        color: $red-color;
        border-radius: 3px;
        background: transparent;
        height: 48px;
        padding: 0 15px;
      }
    }

    .add-btn {
    }
  }
}

//font-family: NotoSansKR, sans-serif;
