//color
$main-color: #3e9eff;
$dark-main-color: #3892ec;
$font-color: #111119;
$red-color: #fd5c5c;
$yellow-color: #f8ce48;
$border-color: rgba(0, 0, 0, 0.05);
$black-color: #000;
$sub-font-color: rgba($black-color, 0.54);
$nav-color: #131622;
$shadow-color: 2px 2px 10px rgba(0, 0, 0, 0.15);
$required-color: #ff6666;
$star-color: #fdb15c;
$bg-color: #f9fafb;

// reset
a {
  text-decoration: none;
  color: $font-color;
}
input {
  &:focus {
    outline: none;
  }
}
button {
  border: none;
  cursor: pointer;
}
select {
  border-color: #e5e5e5;
  padding: 8px 15px;
  &:focus {
    outline: none;
  }
}
li {
  list-style: none;
}
textarea {
  resize: none;
  &:focus {
    outline: none;
  }
}

// form
@mixin form_input {
  border: 1px solid rgba($black-color, 0.15);
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: 0.25s ease;
  height: 48px;
  width: 100%;
  font-weight: 300;
  font-family: "Roboto", sans-serif;

  &:hover {
    border-color: $sub-font-color;
  }

  &:focus {
    border-color: $main-color;
  }

  &::placeholder {
    color: rgba($black-color, 0.65);
    font-weight: 300;
  }
}
@mixin wngField {
  input {
    border-color: $red-color;
    background: rgba($red-color, 0.03);
  }

  em {
    font-style: normal;
    font-size: 0.875rem;
    margin-top: 5px;
    display: block;
    color: $red-color;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1 {
  margin: 0;
}
@mixin checkbox {
  cursor: pointer;
  @include flex($just: flex-start);
  font-size: 0.832rem;

  input {
    display: none;
  }

  span {
    width: 12px;
    height: 12px;
    border: 1px solid rgba($black-color, 0.15);
    display: block;
    margin-right: 5px;
    position: relative;

    &:after,
    &::before {
      content: "";
      width: 2px;
      border-radius: 3px;
      position: absolute;
      background: #fff;
      height: 0;
    }

    &:before {
      transform: rotate(-45deg);
      left: 1px;
      top: 6px;
      transform-origin: left top;
      transition: 0.35s ease;
    }

    &:after {
      transform: rotate(45deg);
      left: 4px;
      bottom: 4px;
      transform-origin: left bottom;
      transition: delay 0.35s;
    }
  }

  input:checked + span {
    background: $main-color;
    border-color: $main-color;

    &:before {
      height: 5px;
      transition: all 0.35s ease;
    }

    &:after {
      height: 8px;
      transition: all 0.35s ease 0.4s;
    }
  }
}

// font
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200, 300, 400, 500, 600;
  font-style: normal;
}

// flex & grid
@mixin flex($just: center, $align: center, $flex: flex) {
  display: $flex;
  justify-content: $just;
  align-items: $align;
}

@mixin grid($colums: 1fr 1fr 1fr 1fr, $row: minmax(20px, auto), $gap: 30px) {
  display: grid;
  grid-template-columns: $colums;
  grid-auto-rows: $row;
  gap: $gap;
}

// 공통 여백
@mixin commonPadding($ptb: 0) {
  padding: $ptb 8.333%; // 160px

  @media screen and (max-width: 1200px) {
    padding: $ptb 6.666%; // 80px
  }

  @media screen and (max-width: 1080px) {
    padding: $ptb 4.629%; // 50px
  }

  @media screen and (max-width: 768px) {
    padding: $ptb 20px;
  }
}

@mixin commonMargin($mtb: 0) {
  margin: $mtb 8.333%; // 160px

  @media screen and (max-width: 1200px) {
    margin: $mtb 6.666%; // 80px
  }

  @media screen and (max-width: 1000px) {
    margin: $mtb 5%; // 50px
  }

  @media screen and (max-width: 768px) {
    margin: $mtb 20px;
  }
}

@mixin cartSummary {
  position: fixed;
  right: 8.333%;
  top: 100px;
  width: 280px;

  @media screen and (max-width: 1200px) {
    right: 6.666%;
  }
}

// icon
.icon {
  width: 15px;
  height: 15px;
  display: inline-block;

  &.new {
    background: url("./icon/new.svg") no-repeat center center;
    background-size: cover;
  }

  &.store {
    background: url("./icon/home_white.svg") no-repeat center center;
    background-size: cover;
  }

  &.arrow {
    background: url("./icon/arrow.svg") no-repeat center center;
    background-size: cover;
  }

  &.laundry {
    background: url("./icon/laundry.svg") no-repeat center center;
    background-size: cover;
  }

  &.review {
    background: url("./icon/review_white.svg") no-repeat center center;
    background-size: cover;
  }

  &.penalty {
    background: url("./icon/penalty.svg") no-repeat center center;
    background-size: cover;
  }

  &.setting {
    background: url("./icon/setting.svg") no-repeat center center;
    background-size: cover;
  }

  &.carmera {
    background: url("./icon/carmera.svg") no-repeat center center;
    background-size: cover;
  }

  &.close {
    background: url("./icon/close.svg") no-repeat center center;
    background-size: cover;
  }

  &.attachment {
    background: url("./icon/attachment.svg") no-repeat center center;
    background-size: cover;
  }
}

// main
@mixin main-wrap {
  padding: 40px;

  & > .title {
    font-size: 1.875rem;
    font-weight: 700;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 1080px) {
    @include commonPadding($ptb: 40px);
  }
}

// button
@mixin btn-gray {
  @include flex;
  background-color: #90949c;
  padding: 0 24px;
  display: inline-block;
  height: 48px;
  font-size: 1.062rem;
  color: #fff;
  line-height: 48px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.25s ease;
  margin-top: 15px;

  &:hover {
    background-color: #60656a;
  }
}

@mixin submitBtn {
  width: 100%;
  height: 48px;
  border-radius: 3px;
  color: #fff;
  background-color: $main-color;
  font-size: 1.062rem;
  letter-spacing: 1px;
  font-weight: 500;
}

@mixin cancelBtn {
  margin-right: 10px;
  border: 1px solid rgba($black-color, 0.1);
  background-color: #fff;
  color: $sub-font-color;

  &:hover {
    border-color: rgba($black-color, 0.3);
    color: rgba($font-color, 0.75);
  }
}

// radio
@mixin radio {
  label {
    @include flex($just: flex-start);
    cursor: pointer;
    margin-top: 20px;
    color: $sub-font-color;

    input {
      display: none;

      &:checked + span {
        border-color: $main-color;

        &::before {
          display: block;
        }
      }
    }

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid rgba($sub-font-color, 0.2);
      border-radius: 50%;
      margin-right: 8px;
      position: relative;
      transition: 0.25s ease;

      &::before {
        content: "";
        display: none;
        width: 14px;
        height: 14px;
        background-color: $main-color;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: 0.25s ease;
      }
    }
  }
}

// select
@mixin select-wrap {
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  height: 48px;

  &::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: url("./icon/arrow_black.svg") no-repeat center center;
    background-size: cover;
  }

  select {
    border: none;
    appearance: none;
    width: 100%;
    height: inherit;
    padding: 0 10px;
  }
}
